<div id="vdeux-counter">
  <h1><a href="https://www.npmjs.com/package/vdeux" target="_blank">vdeux</a> Counter</h1>
  <div>Count: {{ $state.counter }}</div>

  <button @click="decrease">-1</button>
  <button @click="increase">+1</button>
</div>

<div id="vue-redux-counter">
  <h1><a href="https://github.com/yang-wei/vue-redux" target="_blank">vue-redux</a> Counter</h1>
  <div>Count: {{ state.counter }}</div>

  <button @click="actions.decrement">-1</button>
  <button @click="actions.increment">+1</button>
</div>

<div id="redux-vue-counter"></div>

<div id="vuejs-redux-counter"></div>

<div id="vue-connect-counter"></div>

<div id="vanilla-counter">
  <h1>Vanilla Counter</h1>
  <div>Count: <span id="vanilla-counter-counter"></span></div>

  <button id="vanilla-counter-decrease">-1</button>
  <button id="vanilla-counter-increase">+1</button>
</div>
